<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Salario</title>
</head>
<body>
    <form action="/salario" method="POST">
        <div>
            <label for="salario">Valor do salário mínimo:</label>
            <input type="text" id="salario" name="salario" placeholder=<%= salario %>>
            <button type="submit">Alterar</button>
        </div>
    </form>
</body>
</html>